{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 text-center">
        <div class="text-content">
            <h1 class="fw-bolder">“Programming today is a race between software engineers striving to build bigger and better idiot-proof programs, and the Universe trying to produce bigger and better idiots. So far, the Universe is winning.”</h1>
             <h5>~ Rick Cook</h5> 
            <a href="{{url_for('auth.register')}}" class="btn btn-outline-primary mt-4">Sign Up</a>
        </div>
        
</div>

{% endblock %}